<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277409064400-u4hi025aasf1rsogcbop2f45dis5bm8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277409064400-u4hi025aasf1rsogcbop2f45dis5bm8c</string>
	<key>API_KEY</key>
	<string>AIzaSyBMNe6j05p81WS0hCd8pdVAJS1uVQcvGNA</string>
	<key>GCM_SENDER_ID</key>
	<string>277409064400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tattooar.ios</string>
	<key>PROJECT_ID</key>
	<string>tattooar-61f68</string>
	<key>STORAGE_BUCKET</key>
	<string>tattooar-61f68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277409064400:ios:0db70dd9081d8ef7</string>
	<key>DATABASE_URL</key>
	<string>https://tattooar-61f68.firebaseio.com</string>
</dict>
</plist>